<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--
      If this file is not placed on the classpath then it can be loaded at runtime
      with java -Dlogback.configurationFile=/path/to/thisfile.xml
    -->


    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/bta-markAsCompleted.debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>bta-markAsCompleted.debug.log.%i</fileNamePattern>
            <minIndex>0</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
         <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/bta-markAsCompleted.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>bta-markAsCompleted.error.log.%i</fileNamePattern>
            <minIndex>0</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="dk.statsbiblioteket.broadcasttranscoder" level="DEBUG"/>
    <logger name="ch.qos.logback" level="WARN"/>"
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.mchange" level="INFO"/>

    <root level="debug">
        <!--<appender-ref ref="STDERR"/>-->
        <appender-ref ref="DEBUG_LOG"/>
        <appender-ref ref="ERROR_LOG"/>
    </root>

</configuration>